<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard AS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        body {
            margin: 10px 100px;
            background-color: bisque;
            background-image: url('https://img.freepik.com/free-vector/flower-leaves-background_1188-214.jpg?w=1380&t=st=1700140040~exp=1700140640~hmac=5628c95abdce27810f15038f344aa092eff0ea7952dfda1a64663a3b0168e554');
        }
            .Text {
                text-decoration: line-through;
                text-decoration-thickness: 4px;
            }
            
    </style>
</head>
<body>
    
    <div class="d-flex justify-content-between align-items-center  mt-3">
        <h1 class="display-4 mr-5 table-dark" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> "To do, or not to do, that is the question:" </h1>
        <div class="d-flex justify-content-center ">
            <h2 class="mr-4" style="background-color: #ffffff05;backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px); height: 50px; padding-top: 5px;color: rgb(165, 0, 165);text-decoration: underline;width: 300px;text-align: center;">Welcome {{user.first_name}}</h2>
            <a href="/logout" class="btn btn-dark" style="text-decoration: none;color: whitesmoke;height: 40px;margin-top: 5px;" >Log Out</a>
        </div>
    </div>
    <div class="d-flex flex-row  mb-4">
        <div>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=America%2FNew_York&title=Your%20Google%20Calendar" style="border:solid 1px #777" width="700" height="350" frameborder="0" scrolling="no"></iframe>            <div class="border border-dark table-dark  mb-5" style="height: 510px;width: 700px; font-size: larger;">
                <form action="/todo/create" method="POST" class="mx-1 mx-md-4">
                
                        <div class="mt-4 mb-3">
                            {% for message in get_flashed_messages(category_filter=['name_err']) %}
                                <p style="color: rgb(196, 0, 0); font-size: medium;margin-left: 10px;"> {{message}} </p>
                            {% endfor %}
                            <label class="font-weight-bold" for="name">To-Do</label>
                            <input class="form-control" type="text" name="name" id="name">
                        </div>
                        <div class="mt-4 mb-3">
                            {% for message in get_flashed_messages(category_filter=['due_err']) %}
                                <p style="color: rgb(196, 0, 0); font-size: medium;margin-left: 10px;"> {{message}} </p>
                            {% endfor %}
                            <label class="font-weight-bold" for="due_to">Due to</label>
                            <input class="form-control" type="date" name="due_to" id="due_to">
                        </div>
                        <div class="mt-4 mb-3">
                            {% for message in get_flashed_messages(category_filter=['pri_err']) %}
                                <p style="color: rgb(196, 0, 0); font-size: medium;margin-left: 10px;"> {{message}} </p>
                            {% endfor %}
                            <label class="font-weight-bold" for="priority">Priority</label>
                            <input class="form-control" type="number" min="1" max="3" name="priority" id="priority">
                            <button class="mt-5 btn btn-secondary  btn-block" type="submit">Add </button>
                        </div>

                </form>
            </div>

        </div>
        <div>
            <div class="ml-5" style="width: 800px;">
                <script async src="https://cse.google.com/cse.js?cx=523c1cb3f202140bc">
                </script>
                <div class="gcse-search"></div>
            </div>
            <div class="ml-5" style="height:760px;width: 800px; overflow-x: scroll;">
                <table class="table w-70 p-3 mx-auto" style="font-size: larger;height: 760px; width: 100%;">
                    <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
                        <tr style="padding: 8px 16px;">
                            <th scope="col">To-Do</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Due To</th>
                            <th scope="col">Actions</th>
                            <th scope="col">Is it Done?</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: aliceblue; position: sticky; left: 0;">
                        {% for todo in all_todos %}
                        <tr>
                            <th  id="text1_{{todo.id}}"  scope="row"> {{todo.name}} </th>
                            <td  id="text2_{{todo.id}}"> {% if todo.priority == 1 %} <p class="text-success">low priority</p>   {% elif todo.priority == 2 %} <p class="text-warning">medium priority</p> {% else %} <p class="text-danger">high priority</p>  {% endif %} </td>
                            <td  id="text3_{{todo.id}}">{{todo.due_to}}</td>
                            <td><a id="text4_{{todo.id}}" href="/todo/{{todo.id}}/edit">edit</a> | <a href="/todo/{{todo.id}}/delete" style="text-decoration: none;">delete</a></td>
                            <td style="background: #eee;">
                                <div class="d-flex">
                                    <div style="width: 80px;">
                                        <span>Done</span>
                                        <label class="form-check-label" for="Check_{{todo.id}}" value="yes">
                                            <input class="form-check-input"  type="radio" name="radio_{{todo.id}}" id="Check_{{todo.id}}" onchange="change({{todo.id}})">
                                        </label>
                                    </div>
                                    <div style="width: 80px;">
                                        <span>Not yet</span>
                                        <label class="form-check-label" for="Check1_{{todo.id}}" value="no" >
                                            <input class="form-check-input" type="radio" name="radio_{{todo.id}}" id="Check1_{{todo.id}}" checked  onchange="changeback({{todo.id}})">
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    
    <!-- <script src="static/script.js"></script> -->
    <script>
        // FUNCTION FOR THE LINE-THROUGH CHECK TODO
    function change(todoId) {
        document.getElementById('text1_' + todoId).classList.add("Text");
        document.getElementById('text2_' + todoId).classList.add("Text");
        document.getElementById('text3_' + todoId).classList.add("Text");
        document.getElementById('text4_' + todoId).classList.add("Text");
}


    // FUNCTION TO REMOVE THE LINE-THROUGH
    function changeback(todoId) {
        document.getElementById('text1_' + todoId).classList.remove("Text");
        document.getElementById('text2_' + todoId).classList.remove("Text");
        document.getElementById('text3_' + todoId).classList.remove("Text");
        document.getElementById('text4_' + todoId).classList.remove("Text");
}

    // FUNCTION THAT SETS TODAY AS THE MINIMUM VALUE FOR THE DATE INPUT
    let today = new Date(),
    day = today.getDate(),
    month = today.getMonth()+1, 
    year = today.getFullYear();
    if(day<10){
            day='0'+day
        } 
    if(month<10){
        month='0'+month
    }
    today = year+'-'+month+'-'+day;

    document.getElementById("due_to").setAttribute("min", today);
    // document.getElementById("listingDateOpen").setAttribute("value", today);
    </script>
</body>
</html>