<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard AS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .Text {
            text-decoration: line-through;
            text-decoration-thickness: 4px;
        }
    </style>
</head>
<body style="margin: 10px 100px; background-color: bisque; background-image: url('https://img.freepik.com/free-vector/flower-leaves-background_1188-214.jpg?w=1380&t=st=1700140040~exp=1700140640~hmac=5628c95abdce27810f15038f344aa092eff0ea7952dfda1a64663a3b0168e554');">
    
    <div class="d-flex justify-content-between  mt-4">
        <h1 class="display-4 mr-5 table-dark"> Don't you... forget about me!</h1>
        <a href="/logout" style="text-decoration: none;color: whitesmoke;"><button class="btn btn-dark height-40">Log Out</button></a>    </div>
    <div class="d-flex flex-row  mb-4">
        <div>
            <iframe  src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showDate=1&showTitle=1&showCalendars=1&showTabs=1&showPrint=1" style="border:solid 1px #777" width="700" height="350"></iframe> 
            <div class="border border-dark table-dark  mb-5" style="height: 405px;width: 700px; font-size: larger;">
                <form action="/todo/{{todo.id}}/update" method="POST" class="mx-1 mx-md-4">
                        <div class="mt-4 mb-3">
                            <label class="font-weight-bold" for="name" style="margin-right: 500px;"> Edit To-Do</label>
                            <a href="/dashboard">back</a>
                            <input class="form-control" type="text" name="name" id="name" value="{{todo.name}}">
                        </div>
                        <div class="mt-4 mb-3">
                            <label class="font-weight-bold" for="due_to">Due to</label>
                            <input class="form-control"  type="date" name="due_to" value="{{todo.due_to}}" id="due_to">
                        </div>
                        <div class="mt-4 mb-3">
                            <label class="font-weight-bold" for="priority">Priority</label>
                            <input class="form-control" type="number" min="1" max="3" name="priority" id="priority" value="{{todo.priority}}">
                            <div class="d-flex">
                                <button class="mt-5 btn btn-secondary  btn-block" type="submit">Confirm </button>
                            </div>
                    
                        </div>
                </form>
            </div>

        </div>
        <div class="ml-5" style="height:760px;width: 800px; overflow-x: scroll;">
            <table class="table w-70 p-3 mx-auto" style="font-size: larger;height: 760px; width: 100%;">
                <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
                    <tr style="padding: 8px 16px;">
                        <th scope="col">To-Do</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Due To</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Done or Not?</th>
    
    
                    </tr>
                </thead>
                <tbody style="background-color: aliceblue; position: sticky; left: 0;">
                    
                    
                    {% for todo in all_todos %}
                    <tr>
                            <th  id="text1_{{todo.id}}"  scope="row"> {{todo.name}} </th>
                            <td  id="text2_{{todo.id}}"> {% if todo.priority == 1 %} <p class="text-success">low priority</p>   {% elif todo.priority == 2 %} <p class="text-warning">medium priority</p> {% else %} <p class="text-danger">high priority</p>  {% endif %} </td>
                            <td  id="text3_{{todo.id}}">{{todo.due_to}}</td>
                            <td><a id="text4_{{todo.id}}" href="/todo/{{todo.id}}/edit">edit</a> | <a href="/todo/{{todo.id}}/delete" style="text-decoration: none;">delete</a></td>
                            <td style="background: #eee;">
                                <div class="form-check form-switch">
                                    <label class="form-check-label" for="Check_{{todo.id}}" value="yes"></label>
                                    <input class="form-check-input"  type="radio" name="radio_{{todo.id}}" id="Check_{{todo.id}}" onchange="change({{todo.id}})">
                                    <label class="form-check-label" style="margin-left: 60px;" for="Check1_{{todo.id}}"></label>
                                    <input class="form-check-input" type="radio" name="radio_{{todo.id}}" id="Check1_{{todo.id}}" checked value="no" onchange="changeback({{todo.id}})">
                                </div>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- <script src="static/script.js"></script> -->
    <script>
        // FUNCTION FOR THE LINE-THROUGH CHECK TODO
        function change(todoId) {
    document.getElementById('text1_' + todoId).classList.add("Text");
    document.getElementById('text2_' + todoId).classList.add("Text");
    document.getElementById('text3_' + todoId).classList.add("Text");
    document.getElementById('text4_' + todoId).classList.add("Text");
}

function changeback(todoId) {
    document.getElementById('text1_' + todoId).classList.remove("Text");
    document.getElementById('text2_' + todoId).classList.remove("Text");
    document.getElementById('text3_' + todoId).classList.remove("Text");
    document.getElementById('text4_' + todoId).classList.remove("Text");
}

        // FUNCTION THAT SET TODAY AS THE MINIMUM VALUE FOR THE DATE INPUT

        let today = new Date(),
        day = today.getDate(),
        month = today.getMonth()+1, 
        year = today.getFullYear();
        if(day<10){
                day='0'+day
            } 
        if(month<10){
            month='0'+month
        }
        today = year+'-'+month+'-'+day;

        document.getElementById("due_to").setAttribute("min", today);
        // document.getElementById("listingDateOpen").setAttribute("value", today);
    </script>
</body>
</html>



